<h1>Password recovery request</h1>
<p>
  Olá, você solicitou a recuperação de senha para sua conta, registrada no email {{ user.email }}.
</p>

<p>
  Se foi você, apenas clique neste link:
<a href="http://127.0.0.1:3333/users/forgotPassword/{{token}}/{{user.email}}">link</a>
</p>

<p>
  Se não foi, recomendamos que mude sua senha.
</p>